<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="box">Document</title>
    <link rel="stylesheet" href="vendor/tailwind.css">
</head>
<body> 
    
    <div id="menù_actual" class="h-screen w-screen flex justify-center items-center visible">
        <div class="w-1/2 h-1/2 flex items-center bg-red-500 shadow-xl flex-col justify-center space-y-3">
            
            <!-- {% for post in site.posts limit:1 %} -->
            <div class="border w-48 h-48">
                <a href="#"><img src="{{ post.preview_link }}" alt=" {{ post.alt_preview }} "></a>
            </div>
            <h1 class="text-4xl italic">
                <a href=" {{ post.external_url }} "> {{ post.title }} </a>
            </h1>
            <h2 class="text-2xl">
                by <a href="{{ post.personal }}">{{ post.author }}</a>
            </h2>
            <h2 class="text-sm"> {{ post.date | date: "%m-%d-%Y"}} </h2>
            <!-- {% endfor %} -->
            <h3 class="text-sm border rounded border-yellow-800 px-3 bg-yellow-300 hover:bg-yellow-600" onclick="updateMenuStatus()">
                <a class="flex items-center" href="#">previous</a>
            </h3>
        </div>

    </div>

    <div id="menù_previous" class="h-screen w-screen flex justify-center items-center hidden">
        <div class="duration-1000 w-1/2 h-1/2 flex items-center bg-blue-500 shadow-xl justify-center space-y-3 overflow-y-auto flex-col">

            <div class="flex flex-col items-center ">
            <!-- {% for post in site.posts offset:1  %} -->
            
            <h1 class="text-4xl italic">
                <a href=" {{ post.external_url }} "> {{ post.title }} </a>
            </h1>
            <h2 class="text-2xl">
                by <a href="{{ post.personal }}">{{ post.author }}</a>
            </h2>
            <h2 class="text-sm"> {{ post.date | date: "%m-%d-%Y"}} </h2>
            <!-- {% endfor %} -->
            </div>

            <h3 class="text-sm border rounded border-yellow-800 px-3 bg-yellow-300 hover:bg-yellow-600" onclick="updateMenuStatus()">
                <a class="flex items-center" href="#">latest</a>
            </h3>
        </div>
    </div>

    <section id="scripting">
        <script id="cambiaTitolo">

            var parole = [
            'weird','gallery', '...'
            ]
            var ii = 0;
            function cambiaTitolo() {
                document.querySelector("#box").innerHTML = parole[ii];
                if (ii < parole.length -1) {
                    ii = ii + 1;
                } else {
                    ii = 0;
                }
            }
            setInterval(cambiaTitolo, 1000);
    
            </script>
            
        <script id="changeMenuStatus">
            //selettore div del menu "ultimo progetto"
            menu1 = document.getElementById('menù_actual');
            menu2 = document.getElementById('menù_previous')
            
            //aggiorna stato menu se si clicca su "previous"
            function updateMenuStatus() {
          
                if (menu1.classList.contains("visible")) {
                    menu1.classList.remove('visible');
                    menu1.classList.add('hidden');
                    menu2.classList.remove('hidden');
                    menu2.classList.add('visible');
                } 
                
                else {
                    menu1.classList.remove('hidden');
                    menu1.classList.add('visible');
                    menu2.classList.add('hidden');
                    menu2.classList.remove('visible');
                }
                
            }
          
          </script>
    </section>


</body>
</html>