/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#parallax-container {
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  
  .parallax-wrapper {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    /*backface-visibility: hidden;*/
  }
  
  .parallax-layer {
    position: absolute;
    transform-style: preserve-3d;
    /*backface-visibility: hidden;*/
    display: block;
    transition: transform .2s ease-out;
    /*https://www.w3schools.com/css/css3_transitions.asp*/
  }

  #menu {
    position: relative;
    opacity: 50%;
    width: 25%;
    height: 25%;
    left: 38%;
    top: 38%;
  }
  
  #aframe-window {
    width: 100%;
    height: 100%;
  }

  .parallax-layer.is-out {
    transform: translate3d(0, 0, 0) !important;
    transition: transform .4s ease-out;
  }


  .a-canvas.a-grab-cursor:hover{cursor:default !important}.a-canvas.a-grab-cursor:active,.a-grabbing{cursor:default !important}