<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.3.1/dist/aframe-environment-component.min.js"></script>

    <script src="../assets/vendor/tailwind.css"></script>
    <link rel="stylesheet" href="../assets/css/my.css">

    <script id="text-fit-service">
        function doFit(){
          textFit(document.getElementsByClassName('fit-text'), {maxFontSize: 2000});}
        function waitForTextFit() {
          var interval = setInterval(function() {
            if (window.textFit) {
              clearInterval(interval);
              doFit();
            }
          }, 50); 
        }
        waitForTextFit();
      </script>

      <script id="textFitLib" src="../assets/js/textfit-2.3.1.js"></script>
      
</head>

{{ content }}

<!-- loranto ἄνθος  2022 -->
</html>